* {
    box-sizing: border-box;
    ul,li {
        padding: 0;
    }
}

.table {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

.table1 {

    padding: 100px;
    border: 1px solid gray;
    background: #fff;
    margin: 0 50px;
    position: absolute;
    top: 0;
    right: -56px;
}

.show {
    max-width: 100%;
    padding: 16px;
    background: #ffccff;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -25px;
}

tr,td {
    width: 30px;
    height: 30px;
    padding: 5px;
}